* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

/* a {
  text-decoration: none;
  color: rgb(97, 97, 97);
} */

li {
  list-style: none;
}

ul,
ol {
  list-style-type: none;
  /* margin: 0;
  padding: 0; */
}

a {
  text-decoration: none;
  color: black;
  list-style: none;
}

a:hover {
  color: #007bff; /* Optional: Change color on hover */
}

a:visited {
  color: black;
}
